@model DTO.Utilisateurs

@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    @if (Model != null)
    {
        <h1 class="display-4">Bonjour @Model.Prenom @Model.Nom !</h1>
    }
    else
    {
        <h1 class="display-4">Bonjour !</h1>
    }
    <h2>Bienvenue sur VS Eats !</h2>
    <h4>La plateforme en ligne pour commander chez vos restaurants favoris de votre ville !</h4>
    <p>Voir la <a href="https://github.com/BastienSalamin/VSEats">page GitHub</a></p>
</div>
